body {
	background-color:black;
	font-family: arial;
	color: white;
}
h1{

	color:grey;
	font-family: verdana;
}


.maindiv{

	background-color: white;
	color: black;
	align-content: center;
	width: 500px;
	padding: 20px;
	border-radius: 25px;
	align-items: center;
	margin: auto;
}